Genre_Classification/Train_Test_Data/genre_sub_genre_train.pkl filter=lfs diff=lfs merge=lfs -text
Genre_Classification/Train_Test_Data/genre_sub_genre_test.pkl filter=lfs diff=lfs merge=lfs -text
Original_Data/music_genre_audio_features_1.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/music_genre_audio_features_2.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/audio_topic_lyrics_genre.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/lyrics_artist_genre/lyrics-data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/lyrics_artist_genre/artists-data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/multi_genre_playlist/alternative_music_data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/multi_genre_playlist/blues_music_data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/multi_genre_playlist/hiphop_music_data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/multi_genre_playlist/indie_alt_music_data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/multi_genre_playlist/metal_music_data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/multi_genre_playlist/pop_music_data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/multi_genre_playlist/rock_music_data.csv filter=lfs diff=lfs merge=lfs -text
Language_Detection/Train_Test_Data/train.csv filter=lfs diff=lfs merge=lfs -text
Language_Detection/Train_Test_Data/test.csv filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/Train_Test_Data/test.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/Train_Test_Data/train.pkl filter=lfs diff=lfs merge=lfs -text
Language_Detection/language_detection_ff_tf.h5 filter=lfs diff=lfs merge=lfs -text
