Genre_Classification/Train_Test_Data/genre_sub_genre_train.pkl filter=lfs diff=lfs merge=lfs -text
Genre_Classification/Train_Test_Data/genre_sub_genre_test.pkl filter=lfs diff=lfs merge=lfs -text
Original_Data/music_genre_audio_features_1.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/music_genre_audio_features_2.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/audio_topic_lyrics_genre.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/lyrics_artist_genre/lyrics-data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/lyrics_artist_genre/artists-data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/multi_genre_playlist/alternative_music_data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/multi_genre_playlist/blues_music_data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/multi_genre_playlist/hiphop_music_data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/multi_genre_playlist/indie_alt_music_data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/multi_genre_playlist/metal_music_data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/multi_genre_playlist/pop_music_data.csv filter=lfs diff=lfs merge=lfs -text
Original_Data/multi_genre_playlist/rock_music_data.csv filter=lfs diff=lfs merge=lfs -text
Language_Detection/Train_Test_Data/train.csv filter=lfs diff=lfs merge=lfs -text
Language_Detection/Train_Test_Data/test.csv filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/Train_Test_Data/test.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/Train_Test_Data/train.pkl filter=lfs diff=lfs merge=lfs -text
Language_Detection/language_detection_ff_tf.h5 filter=lfs diff=lfs merge=lfs -text
Language_Detection/language_detection_dan.h5 filter=lfs diff=lfs merge=lfs -text
Language_Detection/language_detection_wan.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/** filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/Hybrids filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/WANs filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/embed1000_dan_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/topic_density_estimation_embedding_CNN.ipynb filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/topic_density_estimation_embedding_DAN.ipynb filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/topic_density_estimation_embedding_WAN.ipynb filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/DANs filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/Train_Test_Data filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/topic_density_estimation_embedding_hybrid_embedding.ipynb filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/CNNs filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/DANs/embed500_dan_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/DANs/word2vec_dan_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/DANs/custom100_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/DANs/custom500_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/DANs/embed300_dan_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/DANs/embed100_dan_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/DANs/word2vec_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/DANs/custom1000_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/DANs/custom300_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/DANs/embed1000_dan_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/CNNs/custom300_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/CNNs/embed500_cnn_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/CNNs/word2vec_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/CNNs/custom1000_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/CNNs/custom100_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/CNNs/custom500_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/CNNs/embed1000_cnn_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/CNNs/embed100_cnn_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/CNNs/embed300_cnn_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/CNNs/word2vec_cnn_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/WANs/word2vec_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/WANs/word2vec_wan_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/WANs/custom100_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/WANs/custom300_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/WANs/custom500_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/WANs/embed1000_wan_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/WANs/embed100_wan_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/WANs/embed300_wan_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/WANs/embed500_wan_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/Hybrids/embed100_hybrid_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/Hybrids/embed300_hybrid_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/Hybrids/embed500_hybrid_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/Hybrids/word2vec_hybrid_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
Topic_Density_Classification/Hybrids/embed1000_hybrid_topic_density.h5 filter=lfs diff=lfs merge=lfs -text
